* 	{ margin:0px; padding:0px; border:none;}
body {background: #ccc}

.wrapper {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.headline1 {
	text-transform:  uppercase;
	font: 600 40px Arial, Helvetica, sans-serif;
	color: #000;
	margin-bottom:  2%;
	padding: 1% 0 0 1%;
}

.col { 
	float: left; 
	padding: 1%; 
	overflow: hidden; 
	text-align: justify;
	background: #fff;
}
.col img {
	max-width: 100%;
	height: auto;
	margin:0 auto;
	width: 100%;
}

.col:last-of-type { width: 28%;}
.small-col { width: 13%;}
.big-col { width: 38%;}


.floats-hidden .col + .col { width: 28%;}
.floats-hidden .col + .col + .col { width: 70%; padding: 0;}

.floats-hidden .col:first-of-type,
.floats-hidden .col:last-of-type { display: none;}
